<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <div class="flex flex-column">
            <div class="gh-canvas-breadcrumb">
                <LinkTo @route="settings">
                    Réglages
                </LinkTo>
                {{svg-jar "arrow-right-small"}} Injection de code
            </div>
            <h2 class="gh-canvas-title" data-test-screen-title>
                Injection de code
            </h2>
        </div>
        <section class="view-actions">
            <GhTaskButton @task={{this.saveTask}} @class="gh-btn gh-btn-primary gh-btn-icon" data-test-save-button={{true}} />
        </section>
    </GhCanvasHeader>

    <section class="view-container">
        <form id="settings-code" novalidate="novalidate">
            <fieldset>
                <p class="gh-box gh-box-tip">
                    {{svg-jar "idea"}}
                   Baangre vous permet d'injecter du code en haut et en bas des fichiers de votre thème sans les éditer. Cela permet des modifications rapides pour insérer des éléments utiles tels que des codes de suivi et des balises méta.
                </p>

                <div class="gh-main-section">
                    <label for="ghost-head" class="gh-main-section-header bn">En-tête du site</label>
                    <p class="gh-main-section-description bn">Le code sera injecté dans <code>\{{ghost_head}}</code> sur chaque page du site</p>
                    <div class="form-group settings-code">
                        <GhCmEditor @value={{this.settings.codeinjectionHead}} @id="ghost-head" @class="gh-input settings-code-editor" @name="codeInjection[ghost_head]" @type="text" @update={{action (mut this.settings.codeinjectionHead)}} />
                    </div>
                </div>

                <div class="gh-main-section">
                    <label for="ghost-foot" class="gh-main-section-header bn">Pied de Page</label>
                    <p class="gh-main-section-description bn">Le code sera injecté dans <code>\{{ghost_foot}}</code> sur chaque page du site</p>
                    <div class="form-group settings-code">
                        <GhCmEditor @value={{this.settings.codeinjectionFoot}} @id="ghost-foot" @class="gh-input settings-code-editor" @name="codeInjection[ghost_foot]" @type="text" @update={{action (mut this.settings.codeinjectionFoot)}} />
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
</section>
