<div class="{{this.visibilityClass}}">
    <div class="explore-close">
        <a href="javascript:void(0)" {{on "click" this.closeConnect}} data-test-button="close-explore">
            {{svg-jar "close"}}<span class="hidden">Fermer</span>
        </a>
    </div>
    <div class="explore-content">

        <div class="explore-header">
            {{svg-jar "ghost-orb-pink" alt="Baangre" class="w25 v-mid"}}
            <h1>Connectez à Baangre Explore.</h1>
            <p class="explore-api">{{this.apiUrl}}</p>
        </div>

        <div class="explore-permissions">
            <div>
                <span>{{svg-jar "check-circle" class="w6 v-mid" alt="checkmark"}}</span>
                <p>Autorisez l'accès en lecture seule aux données de votre site pour créer une liste d'annuaire.</p>
            </div>
            <div>
                <span>{{svg-jar "check-circle" class="w6 v-mid" alt="checkmark"}}</span>
                <p>Vous choisissez quelles données sont affichées publiquement ou cachées.</p>
            </div>
            <div>
                <span>{{svg-jar "check-circle" class="w6 v-mid" alt="checkmark"}}</span>
                <p>Votre site sera promu dans l'ensemble de l'écosystème Baangre.</p>
            </div>
        </div>

        <button type="button" class="gh-btn gh-btn-black gh-btn-large gh-btn-icon-right" {{on "click" this.submitExploreSite}} data-test-button="submit-explore">
            <span>Connectez vos données &amp; modifier vos publications {{svg-jar "arrow-right-tail"}}</span>
        </button>
    </div>
</div>